@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:ital,wght@0,300;0,500;0,700;1,200&family=Rubik:ital,wght@0,500;0,600;0,700;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
  }
}

.navLink {
  @apply capitalize   duration-500 transition-all ease-in-out hover:text-neutral-very-dark-violet text-xs font-normal inline-block;
}

.btn {
  @apply cursor-pointer px-5 py-2;
}
.btn_primary {
  @apply bg-primary-cyan text-white hover:bg-cyan-200 hover:text-white;
}

.navbar-mobile {
  @apply flex-col  justify-between items-center  py-4 px-6 rounded-2xl z-10;
}

.form_bg {
  background-image: url("./assets/bg-shorten-desktop.svg");
  background-size: cover;
}

.topLine::after {
  content: "";
  width: 5px;
  height: 2.8rem;
  background-color: hsl(180, 66%, 49%);
  position: absolute;
  top: -33%;
  left: 18;
  z-index: 0;
}

.clearLine:nth-child(0) ::after {
  content: "";
  height: 0px;
}
